@media all and (min-width: 768px) {
  .main-content {
    flex-direction: row;
    overflow: hidden;
  }

  .thumbnail-list {
    flex-direction: column;
    order: 0;
    margin-left: 20px;
    position: 20px 100px;
  }

  .thumbnail-item {
    max-width: 260px;
  }

  .thumbnail-item + .thumbnail-item {
    margin-top: 20px;
  }
  .detail-title{
	color: white;
	font-weight: 40px;

	position: absolute;
	bottom: 350px;
	left: 4px;

	


}


}
@media all and (min-width: 1024px) {
    .detail-title{
  color: white;
  font-weight: 40px;

  position: absolute;
  bottom: 700px;
  left: 4px;

  


}

